nav > ul > li {
    display: inline;
    margin-right:15px;
    background-color: rgb(153, 255, 127);

}

nav li > a{
    text-decoration: none;
    color:black;
    padding: 20px;
}

footer{
    margin-top: 30px;
    text-align: center;
    display: inline;
}